<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ssafy.follow">
	<select id="selectMyList" parameterType="string" resultType="ContentVo">
		select c.* from contents as c
		join follow as f
		on (c.user_id = f.follow_id)
		where f.follower_id = #{user_id}
	</select>

	<insert id="insert" parameterType="FollowVo">
		insert into follow
			(follower_id, follow_id)
		values 
			(#{follower_id}, #{follow_id})
	</insert>
	
	<delete id="delete" parameterType="FollowVo">
		delete from follow
		where
			follower_id = #{follower_id} and
			follow_id = #{follow_id}
	</delete>

	<select id="followList" parameterType="string" resultType="string">
		select follow_id from follow
		where
			follower_id = #{follower_id}
	</select>
	
	<select id="followerList" parameterType="string" resultType="string">
		select follower_id from follow
		where
			follow_id = #{follow_id}
	</select>

	<select id="followfollowerList" parameterType="string" resultType="string">
		select follow_id from follow
		where follow_id in (select follower_id from follow where follow_id = #{user_id})
		and follower_id = #{user_id};
	</select>

</mapper>