<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="edu.ssafy.boot.dto.ContentVo" alias="ContentVo" />
		<typeAlias type="edu.ssafy.boot.dto.CommentVo" alias="CommentVo" />
		<typeAlias type="edu.ssafy.boot.dto.UserVo" alias="UserVo" />
		<typeAlias type="edu.ssafy.boot.dto.ScrapVo" alias="ScrapVo" />
		<typeAlias type="edu.ssafy.boot.dto.FollowVo" alias="FollowVo" />
		<typeAlias type="edu.ssafy.boot.dto.ImageVo" alias="ImageVo" />
		<typeAlias type="edu.ssafy.boot.dto.UserLikeVo" alias="UserLikeVo" />
		<typeAlias type="edu.ssafy.boot.dto.NoticeDBVo" alias="NoticeVo" />
		<typeAlias type="edu.ssafy.boot.dto.UserDmVo" alias="UserDmVo" />
		<typeAlias type="edu.ssafy.boot.dto.DirectMessageVo" alias="DirectMessageVo" />
		<typeAlias type="edu.ssafy.boot.dto.LocationVo" alias="LocationVo" />
		<typeAlias type="edu.ssafy.boot.dto.NotificationVo" alias="NotificationVo" />
		<typeAlias type="edu.ssafy.boot.dto.UserReportVo" alias="UserReportVo" />
	</typeAliases>

	<mappers>
		<mapper resource="mybatis/contentSQLMapper.xml" />
		<mapper resource="mybatis/commentSQLMapper.xml" />
		<mapper resource="mybatis/userSQLMapper.xml" />
		<mapper resource="mybatis/scrapSQLMapper.xml" />
		<mapper resource="mybatis/followSQLMapper.xml" />
		<mapper resource="mybatis/imageSQLMapper.xml" />
		<mapper resource="mybatis/userLikeSQLMapper.xml" />
		<mapper resource="mybatis/noticeSQLMapper.xml" />
		<mapper resource="mybatis/userDmSQLMapper.xml" />
		<mapper resource="mybatis/directMessageSQLMapper.xml" />
		<mapper resource="mybatis/notificationSQLMapper.xml" />
		<mapper resource="mybatis/userReportSQLMapper.xml" />
	</mappers>
</configuration>