<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ssafy.scrap">
	<select id="selectMyList" parameterType="string" resultType="ContentVo">
		select c.* from contents as c
		join follow as f
		on (c.user_id = f.follow_id)
		where f.follower_id = #{user_id}
	</select>

	<insert id="insert" parameterType="ScrapVo">
		insert into scraps
			(content_id, user_id, timestamp)
		values
			(#{content_id}, #{user_id}, now())
	</insert>

	<delete id="delete" parameterType="ScrapVo">
		delete from scraps
		where
			content_id = #{content_id} and
			user_id = #{user_id}
	</delete>

	<select id="scrapList" parameterType="string" resultType="ContentVo">
		select * from contents
		where 
			content_id in (select content_id from scraps where user_id = #{user_id})
	</select>

	<delete id="deleteReported" parameterType="int">
		delete from scraps
		where content_id = #{content_id}
	</delete>
</mapper>