<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ssafy.userDm">
    <insert id="insert" parameterType="UserDmVo">
        insert into user_dm
            (user_id, other_id)
        values
            (#{user_id}, #{other_id})
    </insert>

    <select id="selectInsertDm" parameterType="UserDmVo" resultType="UserDmVo">
        select * from user_dm
        where user_id = #{user_id}
        and other_id = #{other_id}
    </select>

    <delete id="delete" parameterType="int">
        delete from user_dm
        where dm_id = #{dm_id}
    </delete>
    
    <select id="userDmList" parameterType="string" resultType="UserDmVo">
        select * from user_dm
        where 
            user_id = #{user_id} or
            other_id = #{user_id}
    </select>

    <select id="userDmUserList" parameterType="string" resultType="UserVo">
        select u.* from users as u
        join user_dm as d
        on(d.user_id = u.user_id or d.other_id = u.user_id)
        where 
            d.user_id = #{user_id} or
            d.other_id = #{user_id}
    </select>

    <select id="allDmList" resultType="UserDmVo">
        select * from user_dm
    </select>

    <update id="update" parameterType="DirectMessageVo">
        update user_dm
        set 
            recent_message = #{message}
        where
            dm_id = #{dm_id}
    </update>
</mapper>